body {
  background: #cdcdcd;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.todo-list {
  box-shadow: 5px 2px 10px grey;
  padding: 5px;
  height: 500px;
  width: 400px;
  margin: 10px auto;
  border-radius: 10px;
  background: #fff;
}
.todo-item {
  margin: 23px;
  display: flex;
  border-bottom: 1px solid black;
  padding: 5px;
}
p {
  margin: 0;
}
